 :host {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 100% !important;
     padding: 20px;
 }

 ::ng-deep .custom-modalbox {
     mat-dialog-container {
         position: absolute !important;
         right: 0 !important;
         left: unset !important;
         width: 35vw !important;
     }

     mat-dialog-content {
         height: 100% !important;
     }
 }